# PyCharm / JetBrains IDE
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env

# Logs and temp files
*.log
~$*
.pytest_cache/

# OS
.DS_Store
Thumbs.db

build/
dist/
